---
layout: page
title: QSO Logs
permalink: /qso/
---

<table>
  <tr>
    <td>Time</td>
    <td>Frequency</td>
    <td>Station</td>
    <td>Comment</td>
  </tr>
{% assign qsos = site.data.qso | where: "m_call","KF7HVM" | sort: "start" | reversed %}
{% for qso in qsos %}
  <tr>
    <td>
      {% if qso.start %}
        <div class="qso-date">{{- qso.start | date_to_xmlschema -}}</div>
      {% else %}
        <div class="qso-date">{{- qso.date | date_to_xmlschema -}}</div>
      {% endif %}
      <div class="qso-m_loc">{{ qso.m_loc }}</div>
    </td>
    <td>
      <div class="qso-frequency">{{ qso.frequency }}</div>
      <div class="qso-mode">{{ qso.mode }}</div>
    </td>
    <td>
      <div class="qso-t_call">{{ qso.t_call }}</div>
      <div class="qso-t_loc">{{ qso.t_loc }}</div>
    </td>
    <td>{{ qso.comment }}</td>
  </tr>
{% endfor %}
</table>
